<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.heyzha.www.kamaposter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainCategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GalleryViewActivity"/>
        <activity android:name=".GraphiteAndSpecialCategoryActivity"/>
        <activity android:name=".NatureCategoryActivity"/>
        <activity android:name=".KidsCategoryActivity"/>
        <activity android:name=".CityAndClassicCategoryActivity"/>
        <activity android:name=".FaceImagesAndSportCategoryActivity"/>
        <activity android:name=".BackgroundsCategoryActivity"/>
        <activity android:name=".VideoActivity"/>
        <activity android:name=".ThumbnailsViewActivity" />

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".StartupActivity"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a04c815614a2d6fb3ed9a0452acce67706e0463f" />
    </application>

</manifest>